streamlit
langchain
langchain-mistralai
langchain-classis
mistralai
dotenv

# LangChain Core
langchain
langchain-core
langchain-community


# Environment Variable Management
python-dotenv


