streamlit
langchain
langchain-mistralai
mistralai
dotenv

# LangChain Core
langchain
langchain-core
langchain-community
langchain-classis



# Environment Variable Management
python-dotenv


